h1 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 900;
    padding-left: 450px;
}
#carteirinha{
    padding-right: 105px;/*tamanho*/
    margin-left: 400px; /*posição*/
}   
body {
    background-color: darkgrey
}

h2 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 900;

}

button {
    color: aliceblue;
    background-color: #264653;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 900;
    border-radius: 90px;
    border-color: #cdb4db;
    border-style: outset;
    border-width: 3px;
}
/*borda customizada parte por parte*/

input{    
    border-radius: 90px;
    border: 2px solid #ffafcc;
}
/*borda customizada em uma linha --> tamanho | estilo | cor*/


button:hover{
    color:black;
    background-color: aqua;
}
button:active{
    color: white;
    background-color: white;
}
#Registrar:hover{
    color:white;
    background-color: red;
}
#Registrar:active{
    color:white;
    background-color: white;
}


#reclamação1 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 900;
    font-size: 20px;
}

.Conta {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 900;
}

#pesquisas {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;

}

input + button{
    background-color: rgb(0, 255, 255);
    color: black;

}
input + button:hover{
    background-color:#264653;
    color:white ;

}

form > h3{
    font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif
}

label{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
}
/* há uma prorpiedade chamada "box-sizing: border-box" que sobrepõe a borda ao item, ao invés de colocar em volta
padding envolve a posição do objeto, sendo afetado pela borda definida, afetando também o tamanho do objeto
margin eh parecido com padding, mas não é afetado por bordas e etc*/
